.header {
  padding: 60px;
  text-align: center;
  background: #0f2f6f;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

/* BOTON CHULO */
.oval,
.circle {
	display: grid;
	place-items: center;
	background-color: #0f2f6f; 
	font-size: 1rem;
	font-weight: 600;
	text-align: center;
	color: white;
}

.button {
	width: 150px;
	height: 50px;
	border: none;
	border-radius: 6px;
    padding-left: 20px;
    padding-right: 20px;
}

.oval,
.circle {
	height: 100px;
	border-radius: 50%;
}

.oval {
	width: 170px;
    }

    .convex-concave {
	box-shadow: -6px -6px 8px 0 rgba(20, 4, 59, 0.5) inset,
		7px 7px 12px 0 rgba(81, 57, 213, 0.4) inset,
		6px 6px 14px 0 rgba(24, 6, 68, 0.5),
		-3px -3px 12px 0 rgba(81, 57, 213, 0.2);
}
.convex-concave:hover {
	box-shadow: 6px 6px 8px 0 rgba(24, 6, 68, 0.4) inset,
		-7px -7px 12px 0 rgba(81, 57, 213, 0.2) inset,
		-6px -6px 14px 0 rgba(24, 6, 68, 0.2),
		3px 3px 12px 0 rgba(81, 57, 213, 0.2);
	cursor: pointer;
}
/* BOTON CHULO */

/* Container pa centrar el boton chulo */
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.container1 {
  height: 100px;
  position: relative;
}

.spacer1 {
  height: 30px;
  position: relative;
}
/* Container pa centrar el boton chulo */

.cardContainer {
padding-top: 50px;
padding-bottom: 50px;
padding-left: 30px;
padding-right: 30px;
  top: 50%;
  left: 50%;
  text-align: center;
  background: #d2d2d2;
}
.card {
    display: flex;
padding: 20px;

  width: 90%;
  height: 254px;
  border-radius: 30px;
  background: #d6d6d6;
  box-shadow: 15px 15px 30px #bebebe,
             -15px -15px 30px #ffffff;
}
